################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/_Predicate/bin/Debug/_Predicate.exe
/_Predicate/bin/Debug/_Predicate.exe.config
/_Predicate/obj/Debug/_Predicate.csproj.FileListAbsolute.txt
/_Predicate/obj/Debug/_Predicate.pdb
/_Predicate/obj/Debug/_Predicate.exe
/_Predicate/bin/Debug/_Predicate.pdb
